<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <title>{{ title or "محاسبه پورسانت فروش" }}</title>
    <!-- لینک‌دهی مستقیم به فایل استایل -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- فراخوانی ماژولار نوار ناوبری -->
        <!-- توجه: فایل navbar.html باید در پوشه templates وجود داشته باشد -->
        {% include 'navbar.html' %}

        <!-- محل قرارگیری محتوای صفحات فرزند -->
        {% block content %}{% endblock %}
    </div>

    <!-- محل قرارگیری اسکریپت‌های صفحات فرزند -->
    {% block scripts %}{% endblock %}
</body>

</html>